<!--
  maven构建的javaEE项目，默认的web.xml的版本比较低，因此有些功能默认是被关闭掉的
  通过更换web.xml的命名空间实现更换版本
-->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <listener>
    <listener-class>com.hxzy.web.listener.InitServletContextListener</listener-class>
  </listener>

  <!--这个节点配置的初始化参数随着application的启动，而获取-->
  <context-param>
    <param-name>context_param</param-name>
    <param-value>1</param-value>
  </context-param>
  
  <welcome-file-list>
    <welcome-file>jsp/login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
